*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #FFFCF6;
}
.prelude {
    max-width: 100%;
    height: 760px;
    background-image: url("../img/mesa.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffffff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:32px 0;
}
.header__burguer {
    width: 28px;
    height: 22px;
    padding: 3px 0;
}
.header__burguer span {
    width: 20px;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: 4px;
}
.header__logo {
    font-family: 'Playfair Display';
    font-size: 28px;
}
.header__logo i {
    font-style: italic;
}
.slider-tracks {
    display: flex;
}

.slider-tracks__item {
   width: 32px;
   height: 4px;
   opacity: 0.5;
   border-radius: 10px;
   background: #ffffff;
   cursor: pointer;
   transition: .5s background, .5s opacity;
}
.slider-tracks__item:hover {
    background: #ffffff;
    opacity: 1;
}
.slider-tracks__item:not(:last-child) {
    margin-right: 8px;
}
.slider-tracks__item--active {
   opacity: 1;
}
.prelude-content__title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    max-width: 704px;
    padding: 40px 0 24px;
}
.prelude-content__subtitle {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    max-width: 459px;
}
.slider-controls {
    position: absolute;
    margin-top: 470px;
    padding-top: 30px;
    width: 140px;
}
.slider-controls__previus {
    margin-right: 20px;
}
.prelude-holder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.fourth-img__one {
    background-image: url("../img/catalogo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 490px;
    color: white;
}
.fourth-img__two {
    background-image: url("../img/acessorios.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 490px;
    color: white;
    margin-left: 16px;
}
.first {
    display: flex;
    max-width: 100%;
    margin: 100px 0;
    justify-content: space-between;
}
.second {
    display: flex;
    max-width: 100%;
    margin: 100px 0;
    justify-content: space-between;
}
.first-img__coffee {
    width: 581px;
}
.first-title__coffee {
    color: #0B1D03;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px; 
}
.first-p__coffee {
    color: #0B1D03;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    width: 495px;
}
.second-img__coffee {
    max-width: 581px;
}
.second-title__coffee {
    color: #0B1D03;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
}
.second-p__coffee {
    color: #0B1D03;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    width: 435px;
}
.third-options__title {
    color: #A0996C;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    margin: 100px 0;
}
.third-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.third-div__prod {
    background: #F7F1E6;
    border-radius: 8px;
    height: 480px;
    width: 390px;
}
.third-div__title {
    padding: 40px 91px;
    font-size: 18px;
}
.third-div__img {
    padding: 0 114px;
}
.third-div__valor {
    padding-left: 145px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}
.third-div__buttom {
    margin: 33px;
    width: 334px;
    height: 64px;
    border-radius: 4px;
    background: #0B1D03;
    border-radius: 4px;
    color: #ffffff;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
}
.fourth-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 150px 0 64px;
}
.fourth-list__ul {
    display: inline-flex;
    
}
.fourth-list__li {
    height: 145px;
    width: 190px;
    margin: 20px;
}
.fourth-list__img {
    width: 66px;
    height: 40px;
}
.fourth-list__text {
    width: 185px;
    height: 52px;
    font-size: 20px;
    line-height: 26px;
    margin: 15px 0px;
}
.fourth-img {
    display: flex;
}
.fourth-img__title {
    padding: 330px 50px 10px;
    font-family: 'Playfair Display';
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
}
.fourth-img__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    padding: 10px 50px 10px;
}
.fifth__title {
    font-family: 'Playfair Display';
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    color: #0B1D03;
    margin: 120px 0 64px;
}
.fifth__inputloc {
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    width: 370px;
    height: 45px;
    margin-right: 30px;
    background-image: url(../img/picklist.png);
    background-repeat: no-repeat;
    background-position: 330px 15px;
}
.fifth__inputend {
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    width: 815px;
    height: 45px;
    background-image: url(../img/lupinha.png);
    background-repeat: no-repeat;
    background-position: 775px 11px;
}
.fifth__img {
    max-width: 100%;
    margin: 40px 0;
}
footer {
    background: #F7F1E6;
    max-width: 100%;
    height: 300px;
    text-decoration: none;
}
.footer__logo {
    font-family: 'Playfair Display';
    font-size: 28px;
    color: black;
    margin: 56px 0 159px 64px;
}
.footer__ul {
   line-height: 28px;
}
.footer__div {
    margin: 56px 0 56px 221px;
}
.footer__sociais {
    display: inline-flex;
    justify-content: space-between;
    width: 150px;
}
.footer__endtitle-one {
    font-family: 'Lato';
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0em;
    width: 300.8px;
    height: 28px;
    margin: 20px 0 16px 530px;
}
.footer__endtitle-two {
    font-size: 21px;
    font-weight: 900;
}
li a {
    text-decoration: none;
    color: black;
}
.footer__li-title {
    font-family: 'Lato';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.footer__instagram {
    left: 0px;
}
.footer__facebook {
    left: 45px;
}
.footer__twitter {
    left: 90px;
}
.conteiner {
    max-width: calc(100% - 128px);
    padding: 0 64px;
}
.conteiner-flex {
    display: flex;
}
.conteiner-flexspaced {
    justify-content: space-between;
    align-items: center;
}

